{% extends "layout.html" %}

{% block body %}

    {% if not food %}
        <h2>Ruokaa ei löytynyt</h2>
    {% else %}
        <table>
            <tr>
                <td><h2>{{ food.name }}</h2></td>
                {% if current_user == user or role == 'admin' %} 
                <td>
                    <form action="{{ url_for('food_edit', food_id = food.id) }}">
                        <input type="submit" value="Muokkaa" />
                    </form>
                </td>
                {% endif %}
            </tr>
            {% if current_user.is_authenticated %}
            <tr><td>{{ food.users_like() }}</td></tr>
            <tr><td>Tykkää: 
                <a href="{{ url_for('foods_like', value=1, food_id=food.id) }}">+1</a>
                <a href="{{ url_for('foods_like', value=0, food_id=food.id) }}">0</a>
                <a href="{{ url_for('foods_like', value=-1, food_id=food.id) }}">-1</a>
            </td></tr>
            {% endif %}
            <tr><td>Tykkäykset yhteensä: {{ food.countLikes() }}</td></tr>
            <tr><td><br></td></tr>
            <tr><td>{{ food.preparing_time }} minuuttia</td></td></tr>
            <tr><td><br></td></tr>
            <tr><th>Raaka-aineet</th></tr>
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
            </tr>
            {% endfor %}
            
        <tr><td></br></td></tr>
        
        <tr><th>Ohje</th></tr>
        <tr>
            <td style="width: 300px; word-wrap: break-word;">{{ food.recipe }}</td>
        </tr>
        <tr><td></br></td></tr>

        <tr><th>Luonut</th></tr>
        <tr><td>{{ user.name }} </td></tr>
    </table>
    {% endif %}
{% endblock %}