{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Ruoka</th>
            <th>Valmistusaika</th>
            <th>Muuta nimeä</th>
        </tr>
        {% for food in foods %}
        
            <tr>
                    
                        <td><a href="{{ url_for('food_view', food_id=food.id) }}">
                            {{ food.name }}</a></td>
                <td>{{ food.preparing_time }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}