{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
<form method="POST" action="{{ url_for('foods_index_filter') }}">
    <div class="form-group row col-auto">
        <label class="col-auto col-form-label">{{ findField.name.label }}:</label>
        <div class="col-auto">
            {{ render_field(findField.name, class="form-control") }}
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary">Etsi</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Ruoka</th>
            <th scope="col">Tykkäyksiä</th>
            <th scope="col">Tyyppi</th>
            <th scope="col">Valmistusaika</th>
            <th scope="col">Luonut</th>
        </tr>
    </thead>
    <tbody>
        {% for food in foods %}
        <tr>
            <td>
                <a href="{{ url_for('food_view', food_id=food.id) }}">
                    {{ food.name }}</a></td>
            </td>
            <td>
                {{ food.likes }}
            </td>
            <td>
                {{ food.type }}
            </td>
            <td>
                {{ food.preparing_time }}
            </td>
            <td>
                {{ food.getUser().name }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    {% endblock %}