{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('foods_create') }}">
    <table>
        <tr>
            <td> {{ newFoodForm.name.label }}:</td>
            <td> {{ newFoodForm.name }} </td>
            <td>
                <ul>
                    {% for error in newFoodForm.name.errors %}
                    <li>{{ error }} </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td> {{ newFoodForm.duration.label }}:</td>
            <td> {{ newFoodForm.duration }} </td>
            <td>
                <ul>
                    {% for error in newFoodForm.duration.errors %}
                    <li>{{ error }} </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td> {{ newFoodForm.recipe.label }}:</td>
            <td> {{ newFoodForm.recipe(rows="10", cols="30") }} </td>
            <td>
                <ul>
                    {% for error in newFoodForm.recipe.errors %}
                    <li>{{ error }} </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td />
            <td><input type="submit" value"Lisää"></td>
        </tr>
    </table>
</form>
{% endblock %}