{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}

{% if not food %}
    <h2>Ruokaa ei löytynyt</h2>
{% else %}
    {% if current_user == user or role == 'admin' %}
        <h2>Muokkaa ruokaa</h2>
        <form method="POST" action="{{ url_for('foods_update', food_id = food.id) }}">
            <div class="form-group row col-auto">
                <label class="col-1 col-form-label">{{ newFoodForm.name.label }}:</label>
                <div class="col-3">
                    {{ render_field(newFoodForm.name, class='form-control') }}
                </div>
            </div>
            <div class="form-group row col-auto">
                <label class="col-1 col-form-label">{{ newFoodForm.food_type.label }}:</label>
                <div class="col-3">
                    {{ render_field(newFoodForm.food_type, class='form-control') }}
                </div>
            </div>
            <div class="form-group row col-auto">
                <label class="col-1 col-form-label">{{ newFoodForm.duration.label }}:</label>
                <div class="col-3">
                    {{ render_field(newFoodForm.duration, class='form-control') }}
                </div>
            </div>
            <div class="form-group row col-auto">
                <label class="col-1 col-form-label">{{ newFoodForm.ingredient.label }}:</label>
                <div class="col-3">
                    {{ render_field(newFoodForm.ingredient, class='form-control') }}
                </div>
                <div class="col-auto">
                    <button type="submit" name="add_ingredient_button" class="btn btn-primary">Lisää aines</button>
                </div>
            </div>
            {% for ingredient in ingredients %}
            <div class="from-group row col-auto">
                <div class="col-1"></div>
                <div class="col-2">{{ ingredient }}</div>
                <div class="col-auto">
                    <button type="submit" name="remove_ingredient_button" class="btn btn-secondary btn-sm"
                        value={{ ingredient }}>Poista</button>
                </div>
            </div>
            {% endfor %}
            <div class="form-group row col-auto">
                <label class="col-1 col-form-label">{{ newFoodForm.recipe.label }}:</label>
                <div class="col-3">
                    {{ render_field(newFoodForm.recipe, class='form-control', rows='10') }}
                </div>
            </div>
            <div class="form-group row col-auto">
                <div class="col-1"></div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-primary">Tallenna</button>
                </div>
        </form>
        <div class="col-auto">
            <form action="{{ url_for('food_view', food_id = food.id) }}">
                <button type="submit" class="btn btn-outline-primary">Peruuta</button>
            </form>
        </div>
        </div>
        <div class="form-group row col-auto">
            <div class="col-1"></div>
            <div class="col-auto">
                <form action="{{ url_for('foods_delete', food_id = food.id) }}">
                    <input type="submit" class="btn btn-outline-primary" onclick="return confirm('Poistetaanko ruoka?')"
                        value="Poista ruoka" />
                </form>
            </div>
        </div>

    {% endif %}

{% endif %}
{% endblock %}