{% extends "layout.html" %}

{% block body %}

    {% if not food %}
        <h2>Ruokaa ei löytynyt</h2>
    {% else %}
        {% if current_user == user %} 
        <table>
            <form method="POST" action="{{ url_for('foods_update', food_id = food.id) }}">
                <tr>
                    <td> {{ newFoodForm.name.label }}:</td>
                    <td> {{ newFoodForm.name }} </td>
                    <td>
                        <ul>
                            {% for error in newFoodForm.name.errors %}
                            <li>{{ error }} </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td> {{ newFoodForm.duration.label }}:</td>
                    <td> {{ newFoodForm.duration }} </td>
                    <td>
                        <ul>
                            {% for error in newFoodForm.duration.errors %}
                            <li></li>{{ error }} </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td /><td>Pääraaka-aineet:</td>
                </tr>
                <tr>
                    <td> {{ newFoodForm.ingredient1.label }}:</td>
                    <td> {{ newFoodForm.ingredient1 }}</td>
                    <td>
                        <ul>
                            {% for error in newFoodForm.ingredient1.errors %}
                            <li>{{ error }} </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td> {{ newFoodForm.ingredient2.label }}:</td>
                    <td> {{ newFoodForm.ingredient2 }}</td>
                    <td>
                        <ul>
                            {% for error in newFoodForm.ingredient2.errors %}
                            <li>{{ error }} </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td> {{ newFoodForm.ingredient3.label }}:</td>
                    <td> {{ newFoodForm.ingredient3 }}</td>
                    <td>
                        <ul>
                            {% for error in newFoodForm.ingredient3.errors %}
                            <li>{{ error }} </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td> {{ newFoodForm.ingredient4.label }}:</td>
                    <td> {{ newFoodForm.ingredient4 }}</td>
                    <td>
                        <ul>
                            {% for error in newFoodForm.ingredient4.errors %}
                            <li>{{ error }} </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td> {{ newFoodForm.recipe.label }}:</td>
                    <td> {{ newFoodForm.recipe(rows="10", cols="30") }} </td>
                    <td>
                        <ul>
                            {% for error in newFoodForm.recipe.errors %}
                            <li>{{ error }} </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                <td></td>
                <td><input type="submit" value="Talleta" /></td>
                <tr><td></td><td>
                        <form action="{{ url_for('food_view', food_id = food.id) }}">
                                <input type="submit" value="Peruuta" />
                            </form>
                </td></tr>
                </tr>
            </form>
            <tr><td><br></td></tr>
            <tr>
                <td></td>
                <td>
                    <form action="{{ url_for('foods_delete', food_id = food.id) }}">
                        <input type="submit" onclick="return confirm('Poistetaanko ruoka?')" value="Poista ruoka" />
                    </form>
                </td>
            </tr>
            </table>
        {% endif %}
        
    {% endif %}
{% endblock %}  