{% extends "layout.html" %}

{% block body %}
<h2>Ruokaa-app</h2>
<p>
	Viimeisin päivitys:
	<br>23.4. Ruoka-aineiden lisäys ja muokkaus dynaamiseksi
	<br>23.4. Admin pystyy poistamaan muiden ruokia ja muokkaamaan niiden tietoja.
	<br>23.4. Oman profiilin poistaessa poistuu kaikki tiedot
	<br>23.4. Ruoan poisto poistaa myös tykkäykset ruoasta
	<br>23.4. Muutettu virheilmoitukset suomeksi
	<br>23.4. Muokattu profiilinäkymään oma sivu käyttäjätietojen muokkaukseen.
	<br>12.4. Ulkoasun viilausta
	<br>11.4. Lisätty roolit käyttäjille, tosin niillä ei vielä tehdä mitään.
	<br>11.4. Lisätty tykkäykset
	<br>11.4. Muokattu ruoan muokkaus samaan muotoon kuin luominen
	<br>10.4. Lisätty mahdollisuus oman ruoan tietojen muokkaukseen.
</p>
<p>
	Ei valmiina:
	<br>Ruokien tyypitys: Kala, Kana, Kasvis, Porsas, Nauta, Riista
	<br>Ruokalista välilehti: Arpoo ruokalistoja. Voi halutessaan valita ruokatyypin josta ruokalista arvotaan.
	<br>Jos ruoalla -5 tykkäystä, piilotetaan se näkymästä ja arvonnasta.
	<br>Ruokasivulle bootstrap
	<br>Kommentointi.
	<br>Admin ei voi poistaa muita käyttäjiä.
</p>
{% endblock %}
