{% extends "layout.html" %}

{% block body %}
<h2>Kirjaudu</h2>
<form method="POST" action="{{ url_for('auth_login') }}">
    <table class="table">
        {% if error %}
        <tr>
            <td></td>
            <td>{{ error }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>
                <label>{{ form.username.label }}</label>
            </td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>
                <label>{{ form.password.label }}</label>
            </td>
            <td>{{ form.password }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-outline-primary">Kirjaudu</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}