{% extends "layout.html" %}

{% block body %}
<h2>Luo uusi käyttäjä</h2>
<form method="POST" action="{{ url_for('account_create') }}">
    <table>
        <tr>
            <td> {{ newAccountForm.name.label }}:</td>
            <td> {{ newAccountForm.name }} </td>
            <td>
                <ul>
                    {% for error in newAccountForm.name.errors %}
                    <li>{{ error }} </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td> {{ newAccountForm.username.label }}:</td>
            <td> {{ newAccountForm.username }} </td>
            <td>
                <ul>
                    {% for error in newAccountForm.username.errors %}
                    <li>{{ error }} </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td> {{ newAccountForm.password.label }}:</td>
            <td> {{ newAccountForm.password }} </td>
            <td>
                <ul>
                    {% for error in newAccountForm.password.errors %}
                    <li>{{ error }} </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td />
            <td><input type="submit" value="Lisää"></td>
        </tr>
    </table>
</form>
{% endblock %}