{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
<h2>Luo uusi käyttäjä</h2>

<form method="POST" action="{{ url_for('account_create') }}">
    <div class="form-group row col-auto">
        <label class="col-2 col-form-label">{{ newAccountForm.name.label }}</label>
        <div class="col-auto">
            {{ render_field(newAccountForm.name, class='form-control') }}
        </div>
    </div>
    <div class="form-group row col-auto">
        <label class="col-2 col-form-label">{{ newAccountForm.username.label }}</label>
        <div class="col-auto">
            {{ render_field(newAccountForm.username, class='form-control') }}
        </div>
    </div>
    <div class="form-group row col-auto">
        <label class="col-2 col-form-label">{{ newAccountForm.password.label }}</label>
        <div class="col-auto">
            {{ render_field(newAccountForm.password, class='form-control') }}
        </div>
    </div>
    <div class="form-group row col-auto">
        <div class="col-2"></div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary">Rekisteröidy</button>
        </div>
    </div>
</form>

{% endblock %}