{% extends "layout.html" %}

{% block body %}
<h2>Profiili</h2>
<form method="POST" action="{{ url_for('account_update') }}">
  <table class="table">
    <tr>
      <td>Nimi </td>  
      <td> {{ user.name }} </td>
    </tr>
    <tr>
      <td>Käyttäjätunnus </td>
      <td> {{ user.username }} </td>
    </tr>
    <tr>
      <td>Salasana </td>
      <td> {{ pwd }} </td>
    </tr>
  </table>
</form>
<form action="{{ url_for('auth_edit_user') }}">
  <input type="submit" class="btn btn-outline-primary" value="Muokkaa" />
</form>
{% endblock %}