{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
<h2>Muokkaa profiilia</h2>
<form method="POST" action="{{ url_for('account_update') }}">
  <div class="form-group row col-auto">
    <label class="col-2 col-form-label">{{ accountForm.name.label }}</label>
    <div class="col-auto">
      {{ render_field(accountForm.name, class='form-control') }}
    </div>
  </div>
  <div class="form-group row col-auto">
    <label class="col-2 col-form-label">{{ accountForm.username.label }}</label>
    <div class="col-auto">
      {{ render_field(accountForm.username, class='form-control') }}
    </div>
  </div>
  <div class="form-group row col-auto">
    <label class="col-2 col-form-label">Uusi salasana
      <br><small class="form-text text-muted">Tyhjä säilyttää vanhan</small>
    </label>
    <div class="col-auto">
      {{ render_field(accountForm.password, class='form-control') }}
    </div>
  </div>
  <div class="form-group row col-auto">
    <div class="col-2"></div>
    <div class="col-auto">
      <button type="submit" class="btn btn-outline-primary">Tallenna</button>
    </div>
</form>
<div class="col-auto">
  <form action="{{ url_for('auth_view_user') }}">
    <button type="submit" class="btn btn-outline-primary">Peruuta</button>
  </form>
</div>
</div>
<div class="form-group row col-auto">
  <div class="col-2"></div>
  <div class="col-auto">
    <form method="POST" action="{{ url_for('delete_user') }}">
      <input type="submit" class="btn btn-outline-primary"
        onclick="return confirm('Poistetaanko tili?\nKaikki tietosi katoavat!')" value="Poista tili" />
    </form>
  </div>
</div>
{% endblock %}